---
const datum = "01.07.2025"
const zeit = "16:30"
const ort = "25.12.01.51"
const title = "Barrierefreie Interfaces"
const url = "SEP_2025_07_01"
---

<section>
    <h2 class="text-3xl text-center">Save the date</h2>
    <p>Unsere nächste Veranstaltung "{title}" ist am {datum} um {zeit} Uhr in {ort}.
<a href={url}>mehr</a>

    </p>
</section>
